.about__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top__text {
  font-size: 3.7rem;
  margin-bottom: 2.5rem;
}
.bottom__text {
  color: #c5b358;
  font-size: 1.3rem;
}
