.footer {
  background-color: #3b3d41;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-grow: 0;
  justify-content: center;
}
.txt {
  font-size: 16px;
  color: #8a942d;
  margin-block: 1rem 1rem;
}
.socialMedia {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  flex-direction: column;
  row-gap: 15px;
}
.socialMedia > img {
  margin-inline: 0 0.5rem;
}
.socialMedia h3 {
  font-size: 24px;
  color: #ffc107;
}
