.wrapper {
  position: relative;
  margin-bottom: 5rem;
}
.hero {
  background-size: cover;
  height: 93vh;
  width: 100vw;
}

.text {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
}
.top__text {
  font-size: 8.7rem;
  margin-bottom: 5rem;
  font-family: "Abril Fatface", display;
  color: #8d0a0a;
  word-spacing: 4px;
  /* text-shadow: 4px 4px 2px #362309; */
  text-shadow: 2px 2px red;
  backdrop-filter: blur(20px);
}
.bolt {
  position: relative;
  top: -60px;
}
.bottom__text {
  color: rgb(160, 5, 5);
  font-size: 4.3rem;
  margin-bottom: 3rem;
  font-family: "Abel", sans-serif;
}
.txt__wrapper {
  filter: contrast(80%);
}
.service {
  margin-bottom: 5px;
  filter: contrast(60%);
  font-size: 20px;
}
.parts {
  /* filter: contrast(80%); */
  font-size: 20px;
}
.ribbon {
  display: flex;
  /* opacity: 0.9; */
  padding: 12px 0;
  width: 100%;
  color: rgb(83, 5, 5);
  /* align-items: center; */
  justify-content: space-evenly;
  font-family: "nixie_oneregular";
  font-size: 20px;
  background-color: aliceblue;
  /* background-image: url("./floor-tiles.svg"); */
}
.animate {
  display: absolute;
  width: 100vw;
  background-color: black;
}
