.header {
  background-color: rgb(46, 48, 48);
}

.header ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  gap: 5.2rem;
}

.header a {
  color: #e5e5e5;
  font-size: 1.15rem;
  text-decoration: none;
}
.header a:hover {
  color: #8a942d;
}

.header a:active,
.header a.active {
  color: #fcb66b;
}
.list {
  list-style: none;
}
.hamburger {
  margin-left: 15px;
  cursor: pointer;
}
