.header {
  background-color: rgb(46, 48, 48);
}

.header ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 25px 0;
}

.header a {
  color: #e5e5e5;
  font-size: 1.15rem;
  text-decoration: none;
}
.header a:hover {
  color: #8a942d;
}

.header a:active,
.header a.active {
  color: #fcb66b;
}
.list {
  list-style: none;
}
