.header {
  background-color: rgb(46, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul.list {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  gap: 5.2rem;
}

.header a {
  color: #e5e5e5;
  font-size: 1.15rem;
  text-decoration: none;
}
.header a:hover {
  color: #8a942d;
}

.header a:active,
.header a.active {
  color: #fcb66b;
}
.list {
  list-style: none;
}
.hamburger {
  margin-left: 15px;
  cursor: pointer;
}
.right {
  width: 50%;
}

.list__right {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  justify-content: flex-end;
}
.list__right li {
  padding: 0 20px;
}
.btn {
  background-color: white;
  color: rgb(83, 5, 5);
  padding: 8px 18px;
  border-radius: 17px;
  font-weight: bold;
  font-size: 15px;
}
.sep {
  height: 33px;
  background-color: whitesmoke;
  width: 1px;
}
.logIn {
  color: #fcb66b;
}
