.welcome__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top__text {
  font-size: 3.7rem;
  margin-bottom: 2.5rem;
}
.bottom__text {
  color: #c9c9c9;
  font-size: 1.3rem;
}
img {
  margin-top: 6rem;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
img:hover {
  transform: scale(0.9);
}
.showcase {
  display: flex;
}
.pic {
  text-align: center;
}
.model {
  font-weight: 800;
  /* color: #f0edec; */
  color: #a79e84;
}
.mpg {
  color: #f8f2f1;
  font-size: 14px;
}
